In [1]:
import pandas as pd
import csv
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori , association_rules

In [2]:
dataset = []
with open('Dataset/Market_Basket_Optimisation.csv') as file:
    reader = csv.reader(file , delimiter = ',')
    for row in reader:
        dataset += [row]

In [3]:
dataset[1:10]

[['burgers', 'meatballs', 'eggs'],
 ['chutney'],
 ['turkey', 'avocado'],
 ['mineral water', 'milk', 'energy bar', 'whole wheat rice', 'green tea'],
 ['low fat yogurt'],
 ['whole wheat pasta', 'french fries'],
 ['soup', 'light cream', 'shallot'],
 ['frozen vegetables', 'spaghetti', 'green tea'],
 ['french fries']]

In [4]:
len(dataset)

7501

In [5]:
te = TransactionEncoder()
x = te.fit_transform(dataset)

In [6]:
df = pd.DataFrame(x , columns = te.columns_)

In [7]:
len(te.columns_)

120

In [8]:
df.head()

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,True,True,False,True,False,False,False,False,False,...,False,True,False,False,True,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False

In [9]:
#1. find frequent itemset
freq_itemset = apriori(df , min_support = 0.01 , use_colnames = True)

In [10]:
freq_itemset

      support                                 itemsets
0    0.020397                                (almonds)
1    0.033329                                (avocado)
2    0.010799                         (barbecue sauce)
3    0.014265                              (black tea)
4    0.011465                             (body spray)
..        ...                                      ...
252  0.011065       (ground beef, mineral water, milk)
253  0.017064  (ground beef, mineral water, spaghetti)
254  0.015731         (mineral water, spaghetti, milk)
255  0.010265    (olive oil, mineral water, spaghetti)
256  0.011465     (pancakes, mineral water, spaghetti)

[257 rows x 2 columns]

In [17]:
#Find rules
rules = association_rules(freq_itemset , metric = 'confidence' , min_threshold = 0.25)

In [18]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(avocado),(mineral water),0.033329,0.238368,0.011598,0.348000,1.459926,0.003654,1.168147,0.325896
1,(burgers),(eggs),0.087188,0.179709,0.028796,0.330275,1.837830,0.013128,1.224818,0.499424
2,(burgers),(french fries),0.087188,0.170911,0.021997,0.252294,1.476173,0.007096,1.108844,0.353384
3,(burgers),(mineral water),0.087188,0.238368,0.024397,0.279817,1.173883,0.003614,1.057552,0.162275
4,(cake),(mineral water),0.081056,0.238368,0.027463,0.338816,1.421397,0.008142,1.151921,0.322617
...,...,...,...,...,...,...,...,...,...,...
90,"(spaghetti, milk)",(mineral water),0.035462,0.238368,0.015731,0.443609,1.861024,0.007278,1.368879,0.479672
91,"(olive oil, mineral water)",(spaghetti),0.027596,0.174110,0.010265,0.371981,2.136468,0.005460,1.315071,0.547034
92,"(olive oil, spaghetti)",(mineral water),0.022930,0.238368,0.010265,0.447674,1.878079,0.004799,1.378954,0.478514
93,"(pancakes, mineral water)",(spaghetti),0.033729,0.174110,0.011465,0.339921,1.952333,0.005593,1.251198,0.504819
94,"(pancakes, spaghetti)",(mineral water),0.025197,0.238368,0.011465,0.455026,1.908923,0.005459,1.397557,0.488452

In [19]:
rules = rules[['antecedents' , 'consequents' , 'support' , 'confidence']]

In [20]:
rules.head()

  antecedents      consequents   support  confidence
0   (avocado)  (mineral water)  0.011598    0.348000
1   (burgers)           (eggs)  0.028796    0.330275
2   (burgers)   (french fries)  0.021997    0.252294
3   (burgers)  (mineral water)  0.024397    0.279817
4      (cake)  (mineral water)  0.027463    0.338816

In [14]:
rules[rules['antecedents'] == {'cake'}]['consequents']

4    (mineral water)
Name: consequents, dtype: object